

/* TEXTFORM BUTTONS */
.btn-custom {
  border: 1px solid transparent;
  margin: 0 0.5rem;
}

/* Light mode button styles */
.btn-custom-light {
  color: white;
  /* background-color: white; */
}

/* Dark mode button styles */
.btn-custom-dark {
  color: #ffff;
  /* background-color: #1b1f22; */
  /* border-color: #1b1f22; */
}
  

/* ALERTS */
.alert-transition {
  transition: opacity 0.5s ease-in-out;
}

